body { font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: #777;
text-align: center;
background: #777;
width: 960px;
font-size: 18px;
}

header { 
    padding: 20px;
    margin: 20px;
    background: #ebebeb;}

nav {
    padding: 20px;
    margin: 20px;
    background: #ebebeb;}

section { 
    float: left;
    background: #ebebeb;
width: 55%; 
padding: 20px;
margin: 20px;
}

.steps {
   
    padding: 20px;
    margin: 20px;
    background: #ebebeb;
    color: #777;
    }

.more {
 
    padding: 20px;
    margin: 20px;
    background: #ebebeb;
    color: #777;
}
.fullArticle { 
    float: left;
     padding: 20px;
    margin: 20px;
}
aside { 
    float: right;
    padding: 20px;
    margin: 20px;
    width: 25%;
    background: #ebebeb;}

footer { 
    clear: both;
    padding: 20px;
    margin: 20px;
    background: #ebebeb;}

article {color: #ebebeb;
background: #777;
}  
